{% if phoneChannels %}
  <h3>Puhelinnumerot</h3>
  {% for phoneChannel in phoneChannels %}
    <h4>{{ phoneChannel.names|localizedValue(lang) }}</h4>
    {% for number in phoneChannel.phoneNumbers %}
      <div class="phone-number"><a href="tel:{{ number|phoneNumber }}">{{ number|phoneNumber(true) }}</a></div>
      {% if number.serviceChargeType == 'Charged' or number.chargeDescription %}
        <small>
          {% if number.serviceChargeType == 'Charged' %}<span class="phone-number-charge">pvm, mpm, ulkomaanpuhelumaksu</span>{% endif %}
          {% if number.chargeDescription %}<span class="phone-number-charge-details">{{ number.chargeDescription }}</span>{% endif %}
        </small>
      {% endif %}
      {{ phoneChannel.descriptions|localizedValue(lang, 'Description')|nl2p|raw }}
      {% set serviceHours = phoneChannel.serviceHours %}
      {% include 'service-components/servicehours-fragment.twig' %}
    {% endfor %}
  {% endfor %}
{% endif %}